<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="334"
	android:versionName="3.3.4"
	android:compileSdkVersion="28"
	android:compileSdkVersionCodename="9"
	platformBuildVersionName="9"
	platformBuildVersionCode="28"
	package="com.lakaka.sax"
	>
	<uses-sdk
		android:minSdkVersion="21"
		android:targetSdkVersion="28"
		>
	</uses-sdk>
	<uses-permission
		android:name="android.permission.INTERNET"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_WIFI_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_NETWORK_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_EXTERNAL_STORAGE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_FINE_LOCATION"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.CAMERA"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_PHONE_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WAKE_LOCK"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.REQUEST_INSTALL_PACKAGES"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.SYSTEM_ALERT_WINDOW"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.BLUETOOTH"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.FOREGROUND_SERVICE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.CHANGE_NETWORK_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.MODIFY_AUDIO_SETTINGS"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.RECEIVE_BOOT_COMPLETED"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.RECORD_AUDIO"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.BLUETOOTH_ADMIN"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.RECEIVE_USER_PRESENT"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.REQUEST_DELETE_PACKAGES"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.CHANGE_WIFI_STATE"
		>
	</uses-permission>
	<uses-feature
		android:name="android.hardware.camera"
		>
	</uses-feature>
	<uses-feature
		android:name="android.hardware.camera.autofocus"
		>
	</uses-feature>
	<uses-permission
		android:name="android.permission.FLASHLIGHT"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.VIBRATE"
		>
	</uses-permission>
	<supports-screens
		android:anyDensity="true"
		android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="true"
		android:resizeable="true"
		>
	</supports-screens>
	<uses-feature
		android:name="android.hardware.Camera"
		>
	</uses-feature>
	<uses-permission
		android:name="MediaStore.Images.Media.INTERNAL_CONTENT_URI"
		>
	</uses-permission>
	<uses-permission
		android:name="MediaStore.Images.Media.EXTERNAL_CONTENT_URI"
		>
	</uses-permission>
	<uses-permission
		android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"
		>
	</uses-permission>
	<uses-permission
		android:name="com.google.android.c2dm.permission.RECEIVE"
		>
	</uses-permission>
	<permission
		android:name="com.lakaka.sax.permission.C2D_MESSAGE"
		android:protectionLevel="0x00000002"
		>
	</permission>
	<uses-permission
		android:name="com.lakaka.sax.permission.C2D_MESSAGE"
		>
	</uses-permission>
	<application
		android:theme="@7F11000C"
		android:label="@7F100089"
		android:icon="@7F0805A7"
		android:name="com.SecShell.SecShell.ApplicationWrapper"
		android:allowBackup="false"
		android:largeHeap="true"
		android:supportsRtl="true"
		android:networkSecurityConfig="@7F130004"
		android:appComponentFactory="@7F100089"
		>
		<activity
			android:theme="@7F1101C5"
			android:name="com.one.tomato.mvp.ui.start.view.SplashActivity"
			android:screenOrientation="1"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.MAIN"
					>
				</action>
				<action
					android:name="android.intent.action.VIEW"
					>
				</action>
				<category
					android:name="android.intent.category.LAUNCHER"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.post.view.PublishPostSpecificationActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.start.view.WarnActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.start.view.AdActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.start.view.LauncherActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:theme="@7F1100EC"
			android:name="com.one.tomato.ui.MainTabActivity"
			android:launchMode="2"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			android:windowSoftInputMode="0x00000012"
			>
		</activity>
		<activity
			android:theme="@7F110116"
			android:name="com.one.tomato.mvp.ui.showimage.ImageShowActivity"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.search.view.PostSearchActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			android:windowSoftInputMode="0x00000010"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.post.view.PostCommentReplyActivity"
			android:screenOrientation="1"
			android:windowSoftInputMode="0x00000012"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.publish.PublishActivity"
			android:screenOrientation="1"
			android:windowSoftInputMode="0x00000023"
			>
		</activity>
		<activity
			android:theme="@7F1101E1"
			android:name="com.one.tomato.ui.publish.PublishStatusActivity"
			android:launchMode="2"
			>
		</activity>
		<activity
			android:theme="@7F1101E1"
			android:name="com.one.tomato.ui.publish.PapaPublishStatusActivity"
			android:launchMode="2"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.mine.PersonInfoActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.mine.ModifyPersonInfoActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.mine.MyFocusMemberActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.login.view.AccoutnAprealActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.mine.MyCollectPostActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.mine.MyThumbPostActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.feedback.FeedbackSystemMsgDetailActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.mine.MyBrowseListActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.mine.MyPublishActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.mine.MySignActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.mine.MyCommentListActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.setting.SettingActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.setting.MessageSettingActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.setting.AboutActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.setting.AccountActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.setting.PhoneBindActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.setting.ShieldListActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.login.view.LoginActivity"
			android:launchMode="1"
			android:screenOrientation="1"
			android:windowSoftInputMode="0x00000022"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.login.view.RegisterActivity"
			android:screenOrientation="1"
			android:windowSoftInputMode="0x00000022"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.login.view.ForgetPsActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.login.view.RegisterUpdateActivity"
			android:screenOrientation="1"
			android:windowSoftInputMode="0x00000022"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.login.ModifyPSActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.login.view.CountryCodeActivity"
			android:screenOrientation="1"
			android:windowSoftInputMode="0x00000023"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.login.view.UserProtocolActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.feedback.FeedbackEnterActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.feedback.FeedbackDetailActivity"
			android:screenOrientation="1"
			android:windowSoftInputMode="0x00000022"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.webview.HtmlShowActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.mine.MyFanListActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.feedback.FeedbackHistoryDetailActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.feedback.FeedbackHistoryActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.task.VirtualRecordInfoActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.task.ExpireRecordInfoActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.income.IncomeCenterActivity"
			android:launchMode="1"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.income.IncomeActivity"
			android:launchMode="1"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.income.InspectRecordActivity"
			android:launchMode="1"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.income.IncomeDetailActivity"
			android:launchMode="1"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.income.CashActivity"
			android:launchMode="1"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.income.CashApplyCompeledActivity"
			android:launchMode="1"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.income.VeritifyIdentityActivity"
			android:launchMode="1"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.income.TradePwdSettingActivity"
			android:launchMode="1"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.income.CashProgressDetailActivity"
			android:launchMode="1"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.income.IncomeAndCashActivity"
			android:launchMode="1"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.income.CashListActivity"
			android:launchMode="1"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.task.TaskCenterActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.income.AlipayBindSuccessActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.income.BankBindActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.income.BankSelectListActivity"
			android:screenOrientation="1"
			android:windowSoftInputMode="0x00000022"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.level.MyLevelActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.level.CreditActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.level.CreditRuleActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.recharge.RechargeActivity"
			android:exported="true"
			android:launchMode="2"
			android:screenOrientation="1"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.VIEW"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
				<category
					android:name="android.intent.category.BROWSABLE"
					>
				</category>
				<data
					android:scheme="tomato"
					android:host="pt"
					android:path="/recharge/purse"
					>
				</data>
			</intent-filter>
		</activity>
		<activity
			android:name="com.one.tomato.ui.recharge.RechargeRecordActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.income.AlipayBindActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.tag.TagSelectActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.tag.TagFeedbackActivity"
			android:screenOrientation="1"
			android:windowSoftInputMode="0x00000013"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.lockscreen.LoginAccountVerityActivity"
			android:screenOrientation="1"
			android:configChanges="0x00000480"
			android:windowSoftInputMode="0x00000010"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.lockscreen.LockScreenPwdEnterActivity"
			android:screenOrientation="1"
			android:configChanges="0x00000480"
			android:windowSoftInputMode="0x00000010"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.lockscreen.LockScreenPwdSettingActivity"
			android:screenOrientation="1"
			android:configChanges="0x00000480"
			android:windowSoftInputMode="0x00000010"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.post.view.PostAndMemberReportActivity"
			android:screenOrientation="1"
			android:windowSoftInputMode="0x00000010"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.papa.view.PapaReportActivity"
			android:screenOrientation="1"
			android:windowSoftInputMode="0x00000010"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.mine.LocationPickActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.circle.view.CircleSingleActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			android:parentActivityName="com.one.tomato.ui.MainTabActivity"
			>
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".ui.MainTabActivity"
				>
			</meta-data>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.circle.view.CircleDetailNewActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.circle.view.CircleActiveListActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.circle.view.CircleNoticeDetailActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.recharge.RechargeAgentOrderActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.recharge.RechargeAgentChatActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.feedback.view.FeedbackRechargeIssuesActivity"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.feedback.view.FeedbackRechargeActivity"
			android:windowSoftInputMode="0x00000003"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.feedback.view.FeedbackOrderActivity"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.mine.LanguageSwitchActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.messge.ui.MyMessageNotifctionActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.mine.MyExchangeActivity"
			android:screenOrientation="1"
			android:windowSoftInputMode="0x00000022"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.mine.MyExchangeListActivity"
			android:screenOrientation="1"
			android:windowSoftInputMode="0x00000022"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.mine.MyShareActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.mine.MyShareListActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.messge.ui.PostReviewMessageActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.messge.ui.CommentResponseActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.messge.ui.FeedBackResponseActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.messge.ui.FeedBackDetailActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.messge.ui.SystemNoticeActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.ui.messge.ui.SystemNoticeDetailAct"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.download.view.VideoDownloadActivity"
			android:screenOrientation="1"
			android:configChanges="0x000004A0"
			>
		</activity>
		<activity
			android:theme="@7F110005"
			android:name="com.one.tomato.mvp.ui.papa.view.NewPaPaListVideoActivity"
			android:configChanges="0x000004A0"
			android:windowSoftInputMode="0x00000022"
			>
		</activity>
		<activity
			android:theme="@7F110005"
			android:name="com.one.tomato.mvp.ui.mine.view.NewMyHomePageActivity"
			android:configChanges="0x000004A0"
			>
		</activity>
		<activity
			android:theme="@7F110003"
			android:name="com.one.tomato.mvp.ui.post.view.NewPostDetailViewPagerActivity"
			android:configChanges="0x000004A0"
			android:windowSoftInputMode="0x00000012"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.game.view.GameCenterActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.game.view.GameSpreadActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.papa.view.PaPaHotListHomeActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.circle.view.NewChannelChooseActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.circle.view.CircleAllActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.papa.view.PaPaTumbeActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.mine.view.MyInteractionActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.up.view.UpHomeActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.up.view.UpPlanActivity"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.promotion.ui.SpreadInfoActivity"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.promotion.ui.SpreadHtmlActivity"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.promotion.ui.XiaobaiHtmlActivity"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.promotion.ui.SpreadRecordActivity"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.promotion.ui.WithdrawActivity"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.promotion.ui.WithdrawStatusActivity"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.vip.ui.VipActivity"
			android:exported="true"
			android:launchMode="2"
			android:screenOrientation="1"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.VIEW"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
				<category
					android:name="android.intent.category.BROWSABLE"
					>
				</category>
				<data
					android:scheme="tomato"
					android:host="pt"
					android:path="/recharge/vip"
					>
				</data>
			</intent-filter>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.vip.ui.VipHistoryActivity"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.vip.ui.VipRightActivity"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.base.view.BaseHtmlActivity"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.post.view.ReviewPostActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.newyear.NewYearHtmlActivity"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.login.view.AprealResultActivity"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.login.view.LoginVerifyAct"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.post.view.TagPostListAct"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.up.view.UpIncomeRankAct"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.up.view.UpApplyAct"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.post.view.PostPayActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.post.view.PostHotMessageDetailActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.post.view.PostHotMessageActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.post.view.PostShareActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.sign.view.UserSignActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.circle.view.CircleTabActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.post.view.PostHotListActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.mine.view.ChoosePostActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.mine.view.SingleSerialPostListActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.mine.view.AppMarketHtmlActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.post.view.ReviewPostWGActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.post.view.StartReviewPostActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.mine.view.CreatorCenterActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.one.tomato.mvp.ui.mine.view.CreatorCenterHtmlActivity"
			android:screenOrientation="1"
			>
		</activity>
		<meta-data
			android:name="CHANNEL_KEY"
			android:value="001_A007"
			>
		</meta-data>
		<meta-data
			android:name="android.notch_support"
			android:value="true"
			>
		</meta-data>
		<meta-data
			android:name="com.pm.liquidlink.APP_KEY"
			android:value="a"
			>
		</meta-data>
		<meta-data
			android:name="com.bumptech.glide.integration.okhttp.OkHttpGlideModule"
			android:value="GlideModule"
			>
		</meta-data>
		<provider
			android:name="com.one.tomato.provider.ImgProvider"
			android:exported="false"
			android:authorities="com.lakaka.sax.imgProvider"
			android:grantUriPermissions="true"
			>
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@7F130003"
				>
			</meta-data>
		</provider>
		<provider
			android:name="com.one.tomato.provider.ApkProvider"
			android:exported="false"
			android:authorities="com.lakaka.sax.apkProvider"
			android:grantUriPermissions="true"
			>
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@7F130000"
				>
			</meta-data>
		</provider>
		<service
			android:name="com.one.tomato.service.PublishService"
			>
		</service>
		<provider
			android:name="com.gen.mh.webapp_extensions.utils.WebSdkFileProvider"
			android:exported="false"
			android:authorities="com.lakaka.sax.websdk.fileprovider"
			android:grantUriPermissions="true"
			>
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@7F130002"
				>
			</meta-data>
		</provider>
		<activity
			android:theme="@7F1101C3"
			android:name="com.gen.mh.webapp_extensions.activities.WebAppActivity"
			android:screenOrientation="14"
			android:configChanges="0x00000480"
			android:windowSoftInputMode="0x00000000"
			>
		</activity>
		<activity
			android:theme="@7F1101C3"
			android:name="com.gen.mh.webapp_extensions.activities.OpenWebActivity"
			android:screenOrientation="1"
			android:configChanges="0x00000480"
			android:windowSoftInputMode="0x00000010"
			>
		</activity>
		<activity
			android:theme="@7F1101C3"
			android:name="com.gen.mh.webapp_extensions.matisse.ui.WebSdkMatisseActivity"
			>
		</activity>
		<activity
			android:name="com.gen.mh.webapp_extensions.matisse.internal.ui.AlbumPreviewActivity"
			>
		</activity>
		<activity
			android:name="com.gen.mh.webapp_extensions.matisse.internal.ui.SelectedPreviewActivity"
			>
		</activity>
		<activity
			android:theme="@7F1101C3"
			android:name="com.gen.mh.webapp_extensions.activities.TakePhotoActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="cn.bertsir.zbar.QRActivity"
			android:configChanges="0x000004A0"
			>
		</activity>
		<activity
			android:name="com.soundcloud.android.crop.CropImageActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.mh.webappStart.test.audio.TestZZBMediaPlayerActivity"
			>
		</activity>
		<activity
			android:theme="@7F1101C3"
			android:name="com.mh.webappStart.android_plugin_impl.plugins.plugin_impl.media.audio.background.PlayingDetailActivity"
			android:launchMode="2"
			android:configChanges="0x00000480"
			>
		</activity>
		<activity
			android:theme="@7F1101C3"
			android:name="com.mh.webappStart.test.audio.BackgroundPlayActivity"
			android:configChanges="0x00000480"
			>
		</activity>
		<activity
			android:theme="@7F1101C3"
			android:name="com.mh.webappStart.test.audio.ManyAudioPlayActivity"
			android:configChanges="0x00000480"
			>
		</activity>
		<activity
			android:theme="@7F1101C3"
			android:name="com.mh.webappStart.test.audio.SingleAudioPlayActivity"
			android:configChanges="0x00000480"
			>
		</activity>
		<activity
			android:theme="@7F1101C3"
			android:name="com.mh.webappStart.test.CZTestActivity"
			android:configChanges="0x00000480"
			>
		</activity>
		<service
			android:name="com.mh.webappStart.android_plugin_impl.plugins.plugin_impl.media.audio.background.PlayService"
			>
		</service>
		<provider
			android:name="com.iceteck.silicompressorr.provider.GenericFileProvider"
			android:exported="false"
			android:authorities="com.lakaka.sax.iceteck.silicompressor.provider"
			android:grantUriPermissions="true"
			>
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@7F130005"
				>
			</meta-data>
		</provider>
		<uses-library
			android:name="org.apache.http.legacy"
			android:required="false"
			>
		</uses-library>
		<activity
			android:name="com.alipay.sdk.app.H5PayActivity"
			android:exported="false"
			android:configChanges="0x000004E0"
			>
		</activity>
		<activity
			android:name="com.alipay.sdk.app.H5AuthActivity"
			android:exported="false"
			android:configChanges="0x000004E0"
			>
		</activity>
		<activity
			android:theme="@android:01030010"
			android:name="com.alipay.sdk.app.PayResultActivity"
			android:exported="true"
			android:launchMode="3"
			android:configChanges="0x000004E0"
			>
			<intent-filter
				>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
			</intent-filter>
		</activity>
		<activity
			android:theme="@android:01030010"
			android:name="com.alipay.sdk.app.AlipayResultActivity"
			android:exported="true"
			android:launchMode="2"
			>
		</activity>
		<activity
			android:name="com.alipay.sdk.app.H5OpenAuthActivity"
			android:exported="false"
			android:screenOrientation="3"
			android:configChanges="0x000004E0"
			android:windowSoftInputMode="0x00000012"
			>
		</activity>
		<provider
			android:name="com.luck.picture.lib.PictureFileProvider"
			android:exported="false"
			android:authorities="com.lakaka.sax.provider"
			android:grantUriPermissions="true"
			>
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@7F130001"
				>
			</meta-data>
		</provider>
		<activity
			android:name="com.luck.picture.lib.PictureSelectorActivity"
			android:windowSoftInputMode="0x00000020"
			>
		</activity>
		<activity
			android:name="com.luck.picture.lib.PicturePreviewActivity"
			>
		</activity>
		<activity
			android:name="com.luck.picture.lib.PictureVideoPlayActivity"
			android:screenOrientation="4"
			android:configChanges="0x000004A0"
			>
		</activity>
		<activity
			android:name="com.luck.picture.lib.PictureExternalPreviewActivity"
			>
		</activity>
		<activity
			android:name="com.tomato.ucrop.UCropActivity"
			>
		</activity>
		<activity
			android:name="com.tomato.ucrop.PictureMultiCuttingActivity"
			>
		</activity>
		<activity
			android:name="com.luck.picture.lib.PicturePlayAudioActivity"
			>
		</activity>
		<meta-data
			android:name="android.max_aspect"
			android:value="2.4"
			>
		</meta-data>
		<meta-data
			android:name="notch.config"
			android:value="portrait|landscape"
			>
		</meta-data>
		<provider
			android:name="com.tomatolive.library.utils.PictureFileProvider"
			android:exported="false"
			android:authorities="com.lakaka.sax.provider"
			android:grantUriPermissions="true"
			>
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@7F130001"
				>
			</meta-data>
		</provider>
		<service
			android:name="com.tomatolive.library.service.KickDialogService"
			>
		</service>
		<service
			android:name="com.tomatolive.library.service.TokenDialogService"
			>
		</service>
		<activity
			android:name="com.tomatolive.library.ui.view.widget.matisse.ui.MatisseActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.view.widget.matisse.internal.ui.AlbumPreviewActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.view.widget.matisse.internal.ui.SelectedPreviewActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.activity.live.TomatoLiveActivity"
			android:launchMode="2"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.activity.home.SearchActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:theme="@7F1101C3"
			android:name="com.yalantis.ucrop.UCropActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.activity.live.PrepareLiveActivity"
			android:screenOrientation="1"
			android:configChanges="0x00000020"
			android:windowSoftInputMode="0x00000022"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.activity.home.AnchorAuthActivity"
			android:screenOrientation="1"
			android:windowSoftInputMode="0x00000030"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.activity.home.AnchorAuthResultActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.activity.home.WebViewActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.activity.mylive.MyLiveActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.activity.mylive.MyIncomeActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.activity.mylive.IncomeRecordActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.activity.mylive.DedicateTopActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.activity.mylive.HouseSettingActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.activity.mylive.BannedSettingActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.activity.mylive.WatchRecordActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.activity.home.RankingActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.activity.mylive.LivePreNoticeActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.activity.mylive.UserGradeActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.activity.mylive.AnchorGradeActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.activity.mylive.CarMallActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.activity.mylive.MyCarActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.activity.mylive.CarMallDetailActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.activity.mylive.IncomeDetailActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.activity.live.ReportLiveActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.activity.noble.NobilityPrivilegeActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.activity.noble.NobilityOpenActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.activity.noble.NobilityOpenOrderActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.activity.mylive.MyAccountActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.activity.noble.NobleHiddenInRankListActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.activity.noble.NobleRecommendActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.activity.noble.NobilityOpenRecordActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.activity.noble.NobilityRecommendHistoryActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.activity.mylive.MyTicketActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.activity.home.RankingNewActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.activity.home.TargetFragmentActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:theme="@7F1100F0"
			android:name="com.tomatolive.library.ui.activity.home.TransparentDialogActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.activity.live.AnchorImpressionActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.activity.mylive.WearCenterActivity"
			android:screenOrientation="1"
			>
		</activity>
		<activity
			android:name="com.tomatolive.library.ui.activity.mylive.UserIncomeDetailActivity"
			android:screenOrientation="1"
			>
		</activity>
		<service
			android:name="com.google.firebase.components.ComponentDiscoveryService"
			>
			<meta-data
				android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar"
				android:value="com.google.firebase.components.ComponentRegistrar"
				>
			</meta-data>
			<meta-data
				android:name="com.google.firebase.components:com.google.firebase.iid.Registrar"
				android:value="com.google.firebase.components.ComponentRegistrar"
				>
			</meta-data>
		</service>
		<receiver
			android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
			android:enabled="true"
			android:exported="false"
			>
		</receiver>
		<receiver
			android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver"
			android:permission="android.permission.INSTALL_PACKAGES"
			android:enabled="true"
			android:exported="true"
			>
			<intent-filter
				>
				<action
					android:name="com.android.vending.INSTALL_REFERRER"
					>
				</action>
			</intent-filter>
		</receiver>
		<service
			android:name="com.google.android.gms.measurement.AppMeasurementService"
			android:enabled="true"
			android:exported="false"
			>
		</service>
		<service
			android:name="com.google.android.gms.measurement.AppMeasurementJobService"
			android:permission="android.permission.BIND_JOB_SERVICE"
			android:enabled="true"
			android:exported="false"
			>
		</service>
		<receiver
			android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
			android:permission="com.google.android.c2dm.permission.SEND"
			android:exported="true"
			>
			<intent-filter
				>
				<action
					android:name="com.google.android.c2dm.intent.RECEIVE"
					>
				</action>
				<category
					android:name="com.lakaka.sax"
					>
				</category>
			</intent-filter>
		</receiver>
		<service
			android:name="com.google.firebase.iid.FirebaseInstanceIdService"
			android:exported="true"
			>
			<intent-filter
				android:priority="-500"
				>
				<action
					android:name="com.google.firebase.INSTANCE_ID_EVENT"
					>
				</action>
			</intent-filter>
		</service>
		<provider
			android:name="com.google.firebase.provider.FirebaseInitProvider"
			android:exported="false"
			android:authorities="com.lakaka.sax.firebaseinitprovider"
			android:initOrder="100"
			>
		</provider>
		<activity
			android:theme="@android:01030010"
			android:name="com.google.android.gms.common.api.GoogleApiActivity"
			android:exported="false"
			>
		</activity>
		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@7F0A0009"
			>
		</meta-data>
		<activity
			android:theme="@7F110004"
			android:name="com.blankj.utilcode.util.PermissionUtils$PermissionActivity"
			android:multiprocess="true"
			android:configChanges="0x000004A0"
			android:windowSoftInputMode="0x00000003"
			>
		</activity>
		<provider
			android:name="com.blankj.utilcode.util.Utils$FileProvider4UtilCode"
			android:exported="false"
			android:multiprocess="true"
			android:authorities="com.lakaka.sax.utilcode.provider"
			android:grantUriPermissions="true"
			>
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@7F130006"
				>
			</meta-data>
		</provider>
		<service
			android:name="com.blankj.utilcode.util.BusUtils$ServerService"
			>
			<intent-filter
				>
				<action
					android:name="com.lakaka.sax.messenger"
					>
				</action>
			</intent-filter>
		</service>
		<meta-data
			android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
			android:value="GlideModule"
			>
		</meta-data>
		<provider
			android:name="com.crashlytics.android.CrashlyticsInitProvider"
			android:exported="false"
			android:authorities="com.lakaka.sax.crashlyticsinitprovider"
			android:initOrder="90"
			>
		</provider>
		<meta-data
			android:name="com.bumptech.glide.integration.webp.WebpGlideModule"
			android:value="GlideModule"
			>
		</meta-data>
		<provider
			android:name="razerdp.basepopup.BasePopupRuntimeTrojanProvider"
			android:exported="false"
			android:multiprocess="false"
			android:authorities="com.lakaka.sax.basepopup-trojan"
			>
		</provider>
	</application>
</manifest>
